html{
    box-sizing: border-box;
    height: 100%;
}
*, *:before, *:after{
    box-sizing: inherit;
}
body{
    height: 100%;
    font-family: 'Open Sans', sans-serif;
    /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#cb60b3+0,ad1283+50,de47ac+100;Pink+3D */
background: #cb60b3; /* Old browsers */
background: -moz-linear-gradient(top, #cb60b3 0%, #ad1283 50%, #de47ac 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(top, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to bottom, #cb60b3 0%,#ad1283 50%,#de47ac 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#cb60b3', endColorstr='#de47ac',GradientType=0 ); /* IE6-9 */
background-repeat: no-repeat;
background-attachment: fixed;
}

header{
    text-align: center;
    padding-top: 20px;
}
.contenedor{
    margin: 0 auto;
    width: 800px;
}
div.hero img{
    width: 90%;
}
div.productos h2{
    text-align: center;
    color: #ffffff;
    text-transform: uppercase;
    /*margin: 30px 0;*/
}
ul.lista-productos{
    margin: 0;
    padding: 0;
    list-style: none;
}
ul.lista-productos li{
    float: left;
    width: 50%;
    padding: 20px;
    text-align: center;
}
ul.lista-productos li:nth-child(2n+1){
    clear: both;
}
ul.lista-productos li img{    
    border: 10px solid rgba(128, 1, 195, .45);
}
ul.lista-productos li img:hover{    
    border: 10px solid rgb(251, 251, 3);/*rgba(128, 1, 195, 1);*/    
}
p{
    font-weight: bold;
    font-size: 25px;
    color: white;
}
span{
    color: #ffce00;
    font-size: 35px;
}
.boton{
    background-color: #ffce00;
    padding: 10px 40px;
    display: inline-block; 
    text-decoration: none;
    color: rgba(128, 1, 195, 1);
    font-weight: bold;
}
.boton:hover{
    color: rgba(128, 1, 195, .8);
}